<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gerenciador de vendas</title>
</head>
<body>
    <h1>REGISTRAR VENDEDOR (DB)</h1>

    <form method="post">
        Nome do vendedor: <input type="text" value="" name="nomeVendedor"/>
        <button type="submit">Salvar</button>
    </form>

    <button><a href="/"> Voltar tela inicial </a></button>
    <button><a href="/selectVendedor"> Começar venda </a></button>
    <button><a href="/visaoGeral"> Visão das vendas </a></button>

</body>
</html>