<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Gerenciador de vendas</title>
</head>
<body>
    <h1>DADOS APÓS CONSULTA (DB)</h1>


    <div th:each="vendas : ${vendas}">
        <p>Nome vendedor: <span th:text="${vendas.nomeVendedor}" ></span></p>
        <p>Valor da venda: <span th:text="${vendas.valorVenda}" ></span></p>
        <p>Data da venda: <span th:text="${vendas.dataVenda}" ></span></p>
        <p>-----------------------------------</p>
    </div>
    <p>Total de vendas: <span th:text="${totalVendas}"></span></p>
    <div>
        <button><a href="/"> Voltar tela inicial </a></button>
        <button><a href="/visaoGeral"> Fazer nova consulta </a></button>
    </div>
</body>
</html>